.schoolyourself-container {
  border: 1px solid #737c95;
  text-align: center;
}

.schoolyourself-lesson-player {
  position: relative;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  width: 100%;
}

.schoolyourself-play-button {
  background: #c55c55;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 43px;
  font-size: 25px;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  cursor: hand;

  transition: background 100ms ease-in;
  -webkit-transition: background 100ms ease-in;
  -moz-transition: background 100ms ease-in;
  -ms-transition: background 100ms ease-in;
  -o-transition: background 100ms ease-in;
}

.schoolyourself-lesson-player:hover .schoolyourself-play-button {
  background: #b53c35;
}

.schoolyourself-arrow-container {
  position: absolute;
  top: 0;
  left: 3px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
}

.schoolyourself-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #fff;
}

.schoolyourself-screenshot {
  position: relative;
}

.schoolyourself-screenshot-curtain {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.25);

  transition: background 100ms ease-in;
  -webkit-transition: background 100ms ease-in;
  -moz-transition: background 100ms ease-in;
  -ms-transition: background 100ms ease-in;
  -o-transition: background 100ms ease-in;
}


.schoolyourself-lesson-player:hover .schoolyourself-screenshot-curtain {
  background: rgba(0,0,0,0.2);
}

.schoolyourself-review-box {
  position: relative;
  width: 100%;
  height: 384px;
  text-align: center;
}


.schoolyourself-review-icon {
  width: 100px;
  line-height: 384px;
  display: inline-block;
}

.schoolyourself-review-icon > img {
  vertical-align: middle;
  width: 100%;
  opacity: 0.7;
  transition: opacity 100ms ease-in;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -ms-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
}

.schoolyourself-lesson-player:hover .schoolyourself-review-icon > img {
  opacity: 1;
}
