.schoolyourself-container {
  text-align: center;
}

.schoolyourself-lesson-player {
  position: relative;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  width: 512px;
  border: 1px solid #737c95;
}

.schoolyourself-play-button-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.schoolyourself-play-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  background: #6eb535;
  border-radius: 5px;
  border: 1px solid #a1d775;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
  width: 150px;
}


.schoolyourself-review-box, .schoolyourself-lesson-box {
  font-size: 0;
  position: relative;
  width: 100%;
  height: 384px;
  text-align: center;

  opacity: 0.8;
  transition: opacity 100ms ease-in;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -ms-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
}

.schoolyourself-lesson-player:hover .schoolyourself-review-box,
.schoolyourself-lesson-player:hover .schoolyourself-lesson-box {
  opacity: 1;
}

.schoolyourself-review-icon {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.centerfix {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.schoolyourself-review-icon > img {
  vertical-align: middle;
  width: 200px;
}

.schoolyourself-caption {
  margin-bottom: 20px;
  color: #737c95;
  font-weight: bold;
  font-size: 24px;
}

.schoolyourself-caption-button {
  padding: 10px;
  background: #6eb535;
  border-radius: 5px;
  border: 1px solid #a1d775;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
}
