<div class="schoolyourself-lesson">
  <div class="schoolyourself-lesson-player" data-url="${iframe_url}">
    <div class="schoolyourself-lesson-block">
      <div class="schoolyourself-lesson-screenshot">
        <img src="${screenshot_url}" alt="${title | h} screenshot"/>
      </div>

      <div class="schoolyourself-lesson-text">
        <h1 class="schoolyourself-lesson-title"><a href="#">${title | h}</a></h1>
        <div class="schoolyourself-lesson-description">${description | h}</div>
      </div>
    </div>
  </div>
</div>

