<div class="schoolyourself-lesson">
  <div class="schoolyourself-lesson-player" data-url="${iframe_url}">
    <div class="schoolyourself-lesson-block">
      <div class="schoolyourself-review-screenshot">
        <img src="${icon_url}" />
      </div>

      <div class="schoolyourself-lesson-text">
        <div class="schoolyourself-lesson-title">Review: ${title}</div>
        <div class="schoolyourself-lesson-description">Practice makes perfect!</div>
        <div class="schoolyourself-review-mastery">
          <div class="schoolyourself-review-mastery-text"></div>
          <div class="schoolyourself-review-mastery-bar">
            <div class="schoolyourself-review-mastery-bar-filler">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
