<div class="schoolyourself-lesson">
  <div class="schoolyourself-lesson-player" data-url="${iframe_url}" data-mastery-url="${mastery_url}">
    <div class="schoolyourself-lesson-block">
      <div class="schoolyourself-review-screenshot">
        <img src="${icon_url}" alt="Review icon" />
      </div>

      <div class="schoolyourself-lesson-text">
        <h1 class="schoolyourself-lesson-title"><a href="#">Review: ${title | h}</a></h1>
        <div class="schoolyourself-lesson-description">Practice makes perfect!</div>
        <div class="schoolyourself-review-mastery">
          <div class="schoolyourself-review-mastery-text"></div>
          <div class="schoolyourself-review-mastery-bar">
            <div class="schoolyourself-review-mastery-bar-filler">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
